<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="">
        <address class="address">
          <label>Фактический адрес</label>
          <p class="address__item">
            <span>
              636000, Томская область,  Город Северск, ул. Калинина 15а
            </span>
          </p>
        </address>
        <address class="address">
          <label>Юридический адрес</label>
          <p class="address__item">
            <span>
              636071, Томская область, г. Северск, ул. Пионерская, д. 26
            </span>
          </p>
        </address>
      </div>
      <div>
        <address class="address">
          <label>Время работы</label> 
          <ul>
            <li>8:00 - 17:00</li>
            <li>8:00 - 17:00</li>
            <li>8:00 - 17:00</li>
            <li>8:00 - 17:00</li>
            <li>8:00 - 16:00</li>
            <li>Выходной</li>
            <li>Выходной</li>
          </ul>
        </address>
      </div>
      <div>
        <address class="address">
          <p class="label">Телефон для связи</p>
          <p>
            <span class="label">Секретарь:</span> +7(3823)54-71-91
          </p>
          <p>
            <span class="label">Диспетчер:</span> +7(3823)54-73-33
          </p>
          <p>
            <span class="label">Email:</span> department_service@mail.ru
          </p>
        </address>
      </div>
    </div>
  </div>
</footer>